<% content_for :title do %>
  <%= content_tag(:title, t('service_name')) %>
<% end %>
<% content_for :h1 do %>
    <p class='logo__sub-text'><%= t('tagline') %></p>
  </div>
<% end %>

<div>
  <div class="max-w-7xl mx-auto py-16 px-4">
    <div class="bg-indigo-700 rounded-lg shadow-xl overflow-hidden">
      <div class="pt-10 pb-12 px-6">
        <div class="">
          <h2 class="text-3xl font-extrabold text-white">
            <span class="block">在宅勤務について質問しよう！</span>
            <span class="block">まずはTwitterアカウントで無料で登録</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-indigo-200"><%= t('service_name') %>はテレワークやリモートワークについて、困ったことや改善したいことを質問できるQAサイトです。</p>
          <%= link_to 'Twitterアカウントで簡単登録', '/auth/twitter',
            class: 'mt-8 bg-white border border-transparent rounded-md shadow px-6 py-3 inline-flex items-center text-base font-medium text-indigo-600 hover:bg-indigo-50' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative bg-gray-50 overflow-hidden">
  <div class="hidden" aria-hidden="true">
    <div class="relative h-full max-w-7xl mx-auto">
      <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
      </svg>
    </div>
  </div>
</div>



